@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  background: url(img/clement-fusil-Fpqx6GGXfXs-unsplash.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(15px);
}

.main-container {
  width: 300px;
  height: 495px;
  z-index: 1;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.3),
    rgba(225, 225, 225, 0.16)
  );
  border-radius: 10px;
  backdrop-filter: blur(80px);
}
