@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 600;
}

body {
  background: url(img/clement-fusil-Fpqx6GGXfXs-unsplash.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* UTILITIES */
.regular-text {
  font-weight: 400;
}

body::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(15px);
}

.main-container {
  width: 300px;
  height: 495px;
  z-index: 1;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.3),
    rgba(225, 225, 225, 0.16)
  );
  border-radius: 10px;
  backdrop-filter: blur(80px);
  padding: 20px;
}

.city-input {
  width: 100%;
  padding: 10px 16px;
  border-radius: 99px;
  border: 3px solid transparent;
  background: rgba(0, 0, 0, 0.15);
  outline: none;
  font-weight: 500;
  transition: 0.25s border;
  padding-right: 40px;
}

.input-container {
  position: relative;
  margin-bottom: 30px;
}

.city-input:focus {
  border: 3px solid rgba(0, 0, 0, 0.15);
}

.city-input::placeholder {
  color: white;
}

.search-btn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  display: flex;
  border: none;
  cursor: pointer;
}

.location-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.location {
  display: flex;
  align-items: center;
  gap: 5px;
}

.weather-summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.weather-img {
  width: 100px;
  height: 100px;
}

.weather-summary-info {
  text-align: end;
}

.weather-conditions-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.condition-items {
  display: flex;
  align-items: center;
  gap: 5px;
}

.condition-items span {
  font-size: 25px;
}

.forcast-item-containers {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  padding-bottom: 12px;
}

.forcast-item-containers::-webkit-scrollbar {
  height: 10px;
}
.forcast-item-containers::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0.1);
  border-radius: 99px;
}

.forcast-item-containers::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.15);
  border-radius: 99px;
}

.forcast-items {
  min-width: 70px;
  background: rgba(225, 225, 225, 0.1);
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px;
  align-items: center;
  border-radius: 15px;
  transition: 0.3s background;
}

.forcast-items:hover {
  background: rgba(225, 225, 225, 0.15);
}

.forcast-img {
  width: 35px;
  height: 35px;
}

.hide {
  display: none;
} 
